<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Available Food Items:</h1>


    <% fd.forEach(function(item) { %>
        <div class="food-Detail" style="background-color: red;">
          <h2><%= item.hotelName %></h2>
          <p>Food Name: <%= item.foodName %></p>
          <p>Food Type: <%= item.foodType %></p>
          <p>Quantity: <%= item.quantity %></p>
          <p>Location: <%= item.location %></p>
          <p>Discount: <%= item.discount %></p>
    </div>
      <% }) %>
    
    
</body>
</html>